/* when finished, be sure to link html back to css/styles.css */

/* Baseline style: Repeating themes, major chunks, fonts, body*/

* {
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
  -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
  box-sizing: border-box;
  margin:0;

}


.container{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
ul {
 list-style: none;
}
/*unitless values prevent nested tags from inheriting*/
p{
  line-height: 1.5;
  text-align: left;
  margin: 40px 0;
  padding: 0 40px;
  color: gray;

}
.grid__row,
.nav,
.grid__col--9,
.grid__col--6,
.grid__col--12
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.nav__item{
  margin-top:5px;
  padding:1.250em 0;
  border-radius: 4px;
}

.grid__row,
.grid__col--12{
  display: flex;
  flex-direction: column;
}

.grid__col--3{
  margin-top: 30px;
}
.headline--primary{
  color: teal;
  width: 75%;
  margin:1em 0;
  padding: 1px 0 0 45px;
}
.headline--secondary{
  overflow: auto;
  text-align: left;
  color: gray;
  font-weight: lighter;
  margin:1em 0;
  padding: 1px 40px;
}




.card a{
  text-decoration: none;
  color: skyblue;
  margin: 0;
}
.blockquote{
  padding-left: 10px;
  border-left: solid 6px teal;
  border-radius: 3px 0 0 3px;
  font: italic 150% 'Open Sans', sans-serif  ;
  color: gray;
  width: 75%;
  margin: 0 auto;
  text-align: left;
}
.img--avatar{
align-self: center;
}

/* ========================================
  Components
======================================== */
/* Navigation */


.nav__item a{

  text-decoration: none;
  font-size: 137.5%;
  color: gray;
}


 .nav__item:hover,
 .nav__item a:hover{
  background-color: teal;
  color: white;
}


/* Form */

form .headline--secondary{
  text-align: left;
  padding: 0;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em auto;
  padding: 0 20px;
  width: auto;
}

.form__label--hidden{
  visibility: hidden;
}
.form__input{
  margin-bottom: .25em;
  padding: .75em;
  font: bold 100% 'Open Sans', sans-serif;
  border-bottom:  solid 5px teal;
  border-top-style: none;
  border-left-style: none;
  border-right:none;

}

/* images */
.img--logo{
  margin-right: auto;
}

.img--frame {
  margin: auto;
  padding:10px;
  border: 1px solid silver;

}
.grid__col--6{
  margin: 1.5em 0;
}

/* button */
.theme__colors{
  margin: 1em 0;
  padding: 12px 0;
  font:  100% 'Open Sans', sans-serif;
  border: none;
  border-radius: 4px;
  color: gray;
}

.btn--default,
.btn--success,
.btn--error,
.btn--warning,
.btn--info{
  text-transform: uppercase;
  color: white;
}

.btn--default {
  background-color: skyblue;
}
.btn--success{
  background-color: green;
}
.btn--error{
  background-color: coral;
}
.btn--warning{
  background-color: orange;
}
.btn--info{
  background-color: lavender;
}

.grid__col--12.theme__colors{
  display: grid;
  max-width: 1180px;
  background-color: teal; //lighter
}
.grid__col--6.theme__colors{
  display: grid;
  max-width: 1180px;
  background-color: blue; //lighter
}
.grid__col--4.theme__colors{
  display: grid;
  max-width: 1180px;
  background-color: skyblue; //lighter
}
.grid__row{
  display: grid;

  max-width: 1180px;
}
.grid__col--3.theme__colors{
  grid-template-columns: 4fr;
  grid-column-gap: 10px;
  background-color: lavender; //lighter
}
.grid__col--5.theme__colors{
  display: grid;
  max-width: 1180px;
  background-color: green; //lighter
}
.grid__col--7.theme__colors{
  display: grid;
  max-width: 1180px;
  background-color: coral; //lighter
}
.grid__col--8.theme__colors{
  display: grid;
  max-width: 1180px;
  background-color: orange; //lighter
}

/* ========================================
  Media Queries
======================================== */

@media (min-width: 1025px) {
  .grid__row,
   .nav,
  .grid__col--6,
  .grid__col--12{
    display: flex;
    flex-direction: row;

  }
  .nav__item,
  .theme__colors{

    margin-top:25px;
    margin-left: 25px;
    padding: 5px 15px;

  }
  .theme__colors{
    width:150px;

  .link,
  .img--logo{
    margin-left: 1.5em;
    margin-right: 1.5em;
  }

  .form{
    display: flex;
    flex-direction: column;
    padding: 0

  }
