// Colors
.btn{
  @include bg-colors($ui-colors);
  }

[class^="btn--"]{
    @extend %btn;
    color: $white;
    text-transform: uppercase;
    width: 100%;
    @include mq (medium){
      width: 18%;
    }
}


// this also selects and styles the one grid system thing
.grid__row .grid__col--12{
  @extend %flex-column;
  width: 100%;
  @include mq (medium){
    @include bp-flex;
  }
}
