.img {
  @include m(avatar) {
    @extend %margin-m;
    align-self: center;
  }
  @include m(frame) {
    @extend %margin-m;
    padding: em(10px);
    max-width: 100%;
    border: 1px solid palette(grey, x-light);
    margin-bottom: em(20px);
  }
}
