// Navigation

%nav__item-disp{
  margin: em(5px) auto;
  padding: em(5px);
  border-radius: em(4px);
}

%nav__item-link{
  text-decoration: none;
  font-size: em(22px);
  padding: em(5px);
// this will allow the anchor to be selected anywhere within the li style. booyah!
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}


// headline

%hdln-prim {
  font-weight: $font-weight--semi-bold;
  font-size: em(30px);
  color: $color-primary;
  margin-top: em(8px);
  margin-bottom: em(18px);
  padding-left:  em(20px);
  text-align: left;
}

%hdln-sec{
  text-align: left;
  color: $grey;
  font-weight: $font-weight--light;
  margin-top: em(35px);
}

// blockquote

%blockquote{
  padding-left: em(10px);
  border-left: solid em(6px) $color-primary;
  border-radius: 3px 0 0 3px;
  font: italic 150% 'Open Sans', sans-serif  ;
  color: $grey;
  width: 75%;
  margin: 0 auto;
  text-align: left;
}

// margins
%margin-sm{
  margin:em(5px) auto;
}
%margin-m{
  margin:em(15px) auto;
}
%margin-lg{
  margin:em(20px) auto;
}

// buttons
%btn{
  margin: em(16px) auto;
  padding: em(12px) em(30px);
  font:  em(14px) 'Open Sans', sans-serif;
  // width: 100%;
  border: none;
  border-radius: $border--default;
  &:hover{
    opacity: 75%;
  }
}

// Float clearfix
%clearfix{
  &:after{
    content: "";
    display: table;
    clear: both;
  }
}


// Flexbox

%flex-row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

%flex-column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

// Grid-col styles

%grid-style{
  margin: 1em auto;
  padding: em(12px) 0;
  font:  100% 'Open Sans', sans-serif;
  border: none;
  border-radius: $border--default;
  color: $grey;
  text-align: left;

}

// Universal sizing
%grid-margin{
  margin: em(30px) auto;
}
%grid-padding{
  padding: em(15px) 0;
}
