// Map Colors
@mixin bg-colors($map){
  @each $theme, $color in $map {
    &--#{$theme} {
      background-color: $color;
    }
  }
}

@mixin bg-colors2($map){
  @each $theme, $color in $map {
    &__#{$theme} {
      background-color: $color;
    }
  }
}




// grid rows
@mixin bp-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


@mixin mq($break){
  @if $break == "small" {
    @media (min-width: $break-s) and (max-width: $brkpoint-md){
      @content;
    }
  }
  @else if $break == "medium" {
    @media (min-width: $break-m +1){
      @content;
    }
  }
  @else if $break == "large" {
    @media (min-width: $break-l){
      @content;
    }
  }
  @else {
    @error "no value retrieved for `#{$break}"
  }
}





// BEM selectors

@mixin e($element) {
  &__#{$element} {
    @content;
  }
}

@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}

// image replacement

@mixin img-replace($img, $w, $h, $disp: block) {
  background-image: url('#{$path--rel}/#{$img}');

}

// adjacnet sibling margins

@mixin doubly($margin: 1em) {
  & + & {
    margin-left: $margin;
    @content;
  }
}

// Flexbox
